@using Microsoft.AspNetCore.Identity
@using Model.Classes
@using System.Security.Claims

@model IEnumerable<Model.Classes.Hobby>
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="HobbyToUser" asp-route-id="@SignInManager.Context.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value">Add Hobby To @SignInManager.Context.User.Identity.Name</a>
    }
    else
    {
        <a asp-action="HobbyToUser">Add Hobby to User</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
